body{
    background: url("background-cosmic.jpg");
    background-position: fixed;
}

.navbar {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: black;
}

.navbar  a:link{
    color: white;
}

h5{
    text-align:center;
    padding: 0;
}